#EXTRA-CARD {
  /* background: var(--color-background1);
  border: 1px solid var(--color-border); */
  /* border-radius: 16px; */
  margin-bottom: 25px;
  /* box-shadow: 0 2px 10px rgba(0,0,0,0.05); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  color: var(--color-font);
}

.extra-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    
}

.extra-image{
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.extra-image {
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.extra-image img {
    width: auto;
    max-width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    background-color: var(--color-background2);
    padding: 5px;
}